<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Online Textbooks - Login</title>
    <!-- Custom fonts for this template-->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.css" rel="stylesheet" />
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                <div class="col-lg-6">
                  <div class="p-4 p-sm-5">
                    <div class="text-center mb-4">
                      <a
                        class="d-flex align-items-center justify-content-center text-decoration-none"
                        href="/users/login"
                      >
                        <div class="fas-login">
                          <i class="fas fa-book-reader text-primary"></i>
                        </div>
                        <div class="text-primary font-weight-bold mx-2">
                          online textbooks
                        </div>
                      </a>
                    </div>
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">
                        Welcome Back! Please login to your account.
                      </h1>
                    </div>
                    <% if(messages && messages.length > 0) { %>
                    <div class="alert alert-warning" role="alert">
                      <%=messages%>
                    </div>
                    <% } %>
                    <form class="user" action="/" method="POST">
                      <div class="form-group">
                        <input
                          type="email"
                          class="form-control form-control-user"
                          id="exampleInputEmail"
                          name="email"
                          aria-describedby="emailHelp"
                          placeholder="Email"
                          required
                        />
                      </div>
                      <div class="form-group">
                        <input
                          type="password"
                          class="form-control form-control-user"
                          id="exampleInputPassword"
                          name="password"
                          placeholder="Password"
                          required
                        />
                      </div>
                      <div class="text-center">
                        <input
                          type="submit"
                          class="btn btn-primary btn-user"
                          value="Login"
                        />
                      </div>
                    </form>
                    <hr />
                    <div class="text-center">
                      <a
                        class="text-primary small"
                        href="/users/forgot-password"
                        >Forgot Password?</a
                      >
                    </div>
                    <div class="text-center">
                      <a class="text-primary small" href="/users/register"
                        >Create an Account!</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="justify-content-center">
        <a
          href="https://github.com/rat9615/Online-Textbooks"
          class="gitbutton github"
          target="_blank"
          rel="noopener noreferrer"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Star and fork us on GitHub"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path
              d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"
            ></path></svg
        ></a>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.js"></script>
  </body>
</html>
