<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Online Textbooks - Register</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="img/onlinetb_favi.ico" />
  
  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">
    
    
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center mb-4">
                <a class="d-flex align-items-center justify-content-center text-decoration-none" href="/users/register">
                  <div class="fas-login">
                    <i class="fas fa-book-reader text-primary"></i>
                  </div>
                  <div class="text-primary font-weight-bold mx-2">online textbooks</div>
                </a>
              </div>
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <!--alert-->
              <% if (user == 'error') { %>
                <div class="alert alert-warning" role="alert">
                  <%= err %>
                </div>
              <% } %>
              <form class="user" action = '/users/register' method="POST">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" name="firstname" placeholder="First Name" required>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" name="lastname" placeholder="Last Name" required>
                  </div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-user" id="exampleInputEmail" name="email" placeholder="Email Address" required>
                </div>
                  <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="exampleInputUSN" name="usn"  placeholder="USN" required>
                  </div>
                  <div class="form-group">
                    <select class=" form-control selectpicker" name="course" required>
                      <optgroup label="Course"></optgroup>
                        <option selected hidden disabled>Course</option>
                        <option value="mca">Computer Applications</option>
                        <option value="mba">Business Administration</option>
                      </optgroup>
                    </select>
                  </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="password" placeholder="Password" required>
                </div>
                <div class="text-center">
                  <input type="submit" class = "btn btn-primary btn-user" value="Register">
                </div>
              </form>
              <hr>
              <div class="text-center">
                <a class="text-primary small" href="/users/forgot-password">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="text-primary small" href="/users/login">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!--Bootstrap-select cdn-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
  
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

</body>

</html>
